{% extends 'my_mr/base.html' %}

{% block body_block %}
{% if user.is_authenticated %}
    <h3>Diagnosis history</h3>
    <table class="table">
        <tr>
            <th>Date</th>
            <th>Doctor Specialty</th>
            <th>Doctor's Name</th>
            <th>Description</th>
        </tr>
        {% for app in object_list %}
        <tr>
            <td><a href="{% url 'my_mr:app_detail' app.id %}">{{ app.date }}</a></td>
            <td>{{ app.doctor.get_specialty_display }}</td>
            <td>{{ app.doctor.user.get_full_name }}</td>
            <td>{{ app.symptoms_description }}</td>
        </tr>
        {% empty %}
            There are no appointment data.
        {% endfor %}
    </table>
    {% if is_paginated %}
        <ul class="pagination">
        {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
            <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
            <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
        </ul>
    {% endif %}
{% endif %}
{% endblock %}