{% extends 'my_mr/base.html' %}


{% block body_block %}
    {% if user.is_authenticated %}
        <h3>My Profile</h3>
        <hr>
        <h4>Login Information&nbsp;&nbsp;<a href="{% url 'my_mr:update_user' user.id %}" class="glyphicon glyphicon-pencil"></a></h4>
        <table class="table">
            <tr>
                <th>First Name</th>
                <td>{{ user.first_name }}</td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td>{{ user.last_name }}</td>
                
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
        </table>
        <h4>General Information&nbsp;&nbsp;<a href="{% url 'my_mr:update_profile_detail' user.patientprofile.id %}" class="glyphicon glyphicon-pencil"></a></h4>
        <table class="table">
            <tr>
                <th>Date of Birth</th>
                <td>{{ user.patientprofile.birthday }}</td>
            </tr>
            <tr>
                <th>Sex</th>
                <td>{{ user.patientprofile.sex }}</td>
            </tr>
            <tr>
                <th>Blood Type</th>
                <td>{{ user.patientprofile.blood }}</td>
            </tr>
            <tr>
                <th>Insurance</th>
                <td>{{ user.patientprofile.insurance }}</td>
            </tr>
            <tr>
                <th>Social Security Number</th>
                <td>{{ user.patientprofile.social_security_number }}</td>
            </tr>
        </table>
        <h4>Contact Information</h4>
        <table class="table">
            <tr>
                <th>City</th>
                <td>{{ user.patientprofile.city }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ user.patientprofile.address }}</td>
            </tr>
            <tr>
                <th>Phone Number</th>
                <td>{{ user.patientprofile.phone }}</td>
            </tr>

        </table>
        
    {% endif %}
{% endblock %}
