{% extends 'my_mr/base.html' %}

{% block body_block %}
    {% if user.is_authenticated %}

        <table class="table">
            <tr>
                <th>Full Name</th>
                <th>City</th>
                <th>Address</th>
                <th>Phone Number</th>
            </tr>
            {% for doctor in object_list %}
                <tr>
                    <td><a href="{% url 'my_mr:doctor_detail' doctor.id %}">{{ doctor.user.get_full_name }}</a></td>
                    <td>{{ doctor.city }}</td>
                    <td>{{ doctor.address }}</td>
                    <td>{{ doctor.phone }}</td>
                </tr>
            {% empty %}
                There are no doctors with that specialty.
            {% endfor %}
            {% if is_paginated %}
                <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
                </ul>
            {% endif %}
    </table>

    {% endif %}
{% endblock %}