{% extends 'my_mr/base.html' %}


{% block body_block %}
    {% if user.is_authenticated %}
        <h3 class="text-center">Welcome {{ user.first_name }}!</h3>
        <table class="table">
            {% if future_events %}
                <h4>Scheduled Appointments</h4>
                    <tr>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Doctor's Name</th>
                        <th>Doctor's Specialty</th>
                    </tr>
            {% endif %}
            {% for event in future_events %}
                <tr>
                    <td><a style="cursor:pointer" href="{% url 'my_mr:scheduled_app' event.id %}">{{ event.start_time.date }}</a></td>
                    <td>{{ event.start_time.time }}</td>
                    <td><a style="cursor:pointer" href="{% url 'my_mr:doctor_detail' event.doctor.id %}">{{ event.doctor.user.get_full_name }}</a></td>
                    <td>{{ event.doctor.get_specialty_display }}</td>
                </tr>
            {% endfor %}
        </table>
        
    {% endif %}
{% endblock %}
