{% extends 'mr/base.html' %}
{% load static %}

{% block body_block %}

<link rel="stylesheet" href="{% static 'mr/css/style.css' %}">
    <h3>New Appointment Details</h3>

{% if complete %}
    <strong>Part 1 completed.</strong>
    <a href="{% url 'mr:add_icd10_codes'%}">Continue</a><br>
{% else %}
    <strong>Fill in the Appointment Details</strong><br>
    doctor id : {{ user.id }} - {{ user.username }}
    <br>
    patient id : {{ p_id }}
    <hr>
    <form id="appointments_form" method="post" action="{% url 'mr:add_appointment' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ appointments_form.as_p }}
        
        <input type="submit" name="submit" value="Continue">
    </form>
    <br>
    
    <a href="{% url 'mr:patient_details' p_id %}" class="btn btn-info btn-lg">Cancel</a>
{% endif %}

{% endblock %}