{% extends 'mr/base.html' %}

{% block body_block %}
    <h3>Upload Exam File</h3>
{% if registered %}
    <strong>File uploaded successfully!</strong><br>
    <a href="{% url 'mr:patient_details' %}">Go back</a><br>
{% else %}
    <strong>Fill in the Appointment Details</strong><br>
    doctor id : {{ user.id }} - {{ user.username }}
    <br>
    patient id : {{ p_id }}
    <hr>
    <form id="file_form" method="post" action="{% url 'mr:add_exam_file' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ file_form.as_p }}
        
        <input type="submit" name="submit" value="Upload Exam File">
    </form>
    <a href="{% url 'mr:patient_details' p_id %}" class="btn btn-info btn-lg">Cancel</a>
{% endif %}
{% endblock %}