{% extends 'mr/base.html' %}

{% block body_block %}
<h3>Appointment Details</h3>
<strong>Date:</strong> {{ appointments.date }}
<hr>

<strong>Doctor's Info</strong>
<table class="table">
    <tr>
        <th>Full Name</th>
        <th>Specialty</th>
        <th>Phone</th>
        <th>Email</th>
    </tr>
    <tr>
        <td>{{ appointments.doctor.user.get_full_name }}</td>
        <td>{{ appointments.doctor.specialty }}</td>
        <td>{{ appointments.doctor.phone }}</td>
        <td>{{ appointment.doctor.user.email }}</td>
    </tr>
</table>
<hr>

<h4>Information</h4><hr>
<table class="table">
    <tr>
        <th>Symptoms</th>
        <th>Examination Details</th>
        <th>Diagnosis</th>
    </tr>
    <tr>
        <td>{{ appointments.symptoms_description }}</td>
        <td>{{ appointments.examination_description }}</td>
        <td>{{ appointments.diagnosis }}</td>
    </tr>
</table>
<hr>
<table class="table">
    <tr>
        <th>Diagnosis ICD10 codes</th>
    </tr>
    {% for code in icd10_list %}
    <tr>
        <td>{{ code.icd10_code }}</td>
    </tr>
    {% endfor %}
</table>
<hr>
<table class="table">
    <tr>
        <th>Medication</th>
        <th>Side Effects</th>
    </tr>
    <tr>
        <td>{{ appointments.medication }}</td>
        <td>{{ appointments.medication_side_effects }}</td>
    </tr>
</table>
<hr>
<a href="{% url 'mr:patient_details' appointments.patient.id %}" class="btn btn-info btn-lg">Go back</a>
<a href="{% url 'mr:update_appointment' appointments.id %}" class="btn btn-info btn-lg">Update</a>
{% endblock %}