{% extends 'mr/base.html' %}

{% block body_block %}
    <h3 align="center"><a href="{% url 'mr:patient_details' appointments.patient.id %}"><span class="glyphicon glyphicon-arrow-left"></span></a>&nbsp; Appointment Details &nbsp;<a href="{% url 'mr:update_appointment' appointments.id %}"><span class="glyphicon glyphicon-pencil"></span></a></h3>
        <strong>&nbsp; Date:</strong> {{ appointments.date }}
    <hr>
    <h4>Doctor's Information</h4>
    <table class="table">
        <tr>
            <th>Full Name</th>
            <td><a href="{% url 'mr:doctor_detail' appointments.doctor.id %}">{{ appointments.doctor.user.get_full_name }}</a></td>
        </tr>
        <tr>
            <th>Specialty</th>
            <td>{{ appointments.doctor.get_specialty_display }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ appointment.doctor.user.email }}</td>
        </tr>
        <tr>
            <th>Phone Number</th>
            <td>{{ appointments.doctor.phone }}</td>
        </tr>
    </table>
    <hr>
    <h4>Diagnosis Information</h4>
    <table class="table">
        <tr>
            <th>Symptoms</th>
            <td>{{ appointments.symptoms_description }}</td>
        </tr>
        <tr>
            <th>Examination Details</th>
            <td>{{ appointments.examination_description }}</td>
        </tr>
        <tr>
            <th>Diagnosis</th>
            <td>{{ appointments.diagnosis }}</td>
        </tr>
        <tr>
            <th>Medication</th>
            <td>{{ appointments.medication }}</td>
        </tr>
        <tr>
            <th>Side Effects</th>
            <td>{{ appointments.medication_side_effects }}</td>
        </tr>
    </table>
    <hr>
    <table class="table">
        <tr>
            <th>Diagnosis ICD10 codes &nbsp;&nbsp;<a href="{% url 'mr:add_icd10' %}" class="glyphicon glyphicon-plus"></a></th>
            <th></th>
        </tr>
        {% for code in icd10_list %}
            <tr>
                <td><a data-toggle="modal" data-target="#modalicd10DeletePrice{{ code.id }}"><span class="glyphicon glyphicon-trash"></span></a></td>
                {% include 'mr/icd10_confirm_delete.html' with id=code.id %}
                <td>{{ code.icd10_code }}</td>
            </tr>
        {% endfor %}
    </table>
    <hr>
    <strong>*Secret Note:</strong> &nbsp;{{ appointments.secret_note }}
    <hr>
    <h4>Files</h4>
    <table class="table">
        {% for file in app_files %}
        <tr>
            <td><a href="{{ file.upload.path }}" download>{{ file.name }}</a></td>
        </tr>
        {% endfor %}
    </table>






{% endblock %}