<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EHR</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'mr/css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</head>
<body>
    <h1><img src="{% static 'mr/uth.png' %}" style="height:5%; width:5%; ">&nbsp; &nbsp; &nbsp; Electronic Health Record</h1>
    <div>
        {% if user.is_authenticated %}
            {% block navigation %}
                <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                        <!-- Logo -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="{% url 'mr:index' %}">EHR</a>
                        </div>
                    
                        <div class="collapse navbar-collapse" id="topNavBar">
                            <ul class="nav navbar-nav">
                                <li class="{{ home }}"><a href="{% url 'mr:index' %}"><span class="glyphicon glyphicon-home"></span>&nbsp; Home</a></li>
                                <li class="{% if opening_hours %}active{% endif %}"><a href="{% url 'mr:opening_hours' %}"><span class="glyphicon glyphicon-time"></span>&nbsp; Opening Hours</a></li>
                                <li class="{% if calendar %}active{% endif %}"><a href="{% url 'mr:calendar' %}"><span class="glyphicon glyphicon-calendar"></span>&nbsp; Schedule</a></li>
                                <li class="{% if price_list %}active{% endif %}"><a href="{% url 'mr:price_list' %}"><span class="glyphicon glyphicon-eur"></span>&nbsp; Price List</a></li>
                                <li class="nav-item dropdown {% if inbox_list or sent_list %}active{% endif %}">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="glyphicon glyphicon-envelope"></span>&nbsp; Messages {% if received_messages %}<span class="badge badge-notify">{{ received_messages.count }}</span>{% endif %}
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="{% url 'mr:inbox' %}">Inbox</a><br>
                                        <a class="dropdown-item" href="{% url 'mr:sent' %}">Sent</a>
                                    </div>
                                </li>
                            </ul>
                            <form class="navbar-form navbar-left" role="search" method="get" action="{% url 'mr:search_results' %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="text" placeholder="Search first/last name or social security number" class="form-control" name="q" value="{{ request.GET.q }}">
                                </div>
                                <button type="submit" class="btn btn-default">Search</button>
                            </form>
                            <ul class="nav navbar-nav navbar-right">
                                    <li class="{{ myprof }}"><a href="{% url 'mr:detail' user.id %}"><span class="glyphicon glyphicon-user"></span>&nbsp; My Profile</a></li>
                                <li><a href="{% url 'mr:logout' %}"><span class="glyphicon glyphicon-off"></span>&nbsp; Logout</a></li>
                            </ul>
                        </div>
                    
                    </div>
                </nav>
            {% endblock %}
        {% endif %}
    </div>
    <div>
            {% if user.is_authenticated %}
                <div>
                    {% block body_block %}{% endblock %}
                    {% block script %}{% endblock %}
                </div>
            {% else %}
            <br><br><br><br>
                <div class="text-center">
                    <a href="{% url 'mr:register' %}" class="btn btn-info btn-lg">Register as Doctor</a>
                    <a href="{% url 'mr:register_patient' %}" class="btn btn-info btn-lg">Register as Patient</a>
                    <hr>
                    Do you already have an account?<br><br>
                    <a href="{% url 'mr:login' %}" class="btn btn-info btn-lg">Login Here</a>
                </div>>
            {% endif %}
    </div>
    <div style="position:fixed; right: 0; bottom: 0; left: 0; width:100%; height:10%; background-color: whitesmoke; text-align: center;"><img src="{% static 'mr/ece.png' %}" style="height:80%"></div>
</body>
</html>