{% extends 'mr/base.html' %}

{% block body_block %}
    {% if user.is_authenticated %}
    
        <ul class="nav nav-tabs">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{% url 'mr:patient_details' patientprofile.id %}" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Add New Record
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'mr:add_appointment' %}">Add Diagnosis Record</a><br>
                    <a class="dropdown-item" href="{% url 'mr:add_vaccination' %}">Add Vaccination Record</a><br>
                    <a class="dropdown-item" href="{% url 'mr:add_surgery' %}">Add Surgery Record</a><br>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{% url 'mr:patient_details' patientprofile.id %}" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Find Record
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'mr:appointments_list' %}">Diagnosis History</a><br>
                    <a class="dropdown-item" href="{% url 'mr:vaccinations_list' %}">Vaccination History</a><br>
                    <a class="dropdown-item" href="{% url 'mr:surgeries_list' %}">Surgeries History</a>
                </div>
            </li>
        </ul>
       

        
        <h3 class="text-center">Patient's Profile</h3>
        <h4>General Information</h4>
        <table class="table">
            <tr>
                <th>Full Name</th>
                <td>{{ patientprofile.user.get_full_name }}</td>
            </tr>
            <tr>
                <th>Date of Birth</th>
                <td>{{ patientprofile.birthday }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ patientprofile.sex }}</td>
            </tr>
            <tr>
                <th>Blood Type</th>
                <td>{{ patientprofile.blood }}</td>
            </tr>
            <tr>
                <th>Insurance</th>
                <td>{{ patientprofile.insurance }}</td>
            </tr>
            <tr>
                <th>Social Security Number</th>
                <td>{{ patientprofile.social_security_number }}</td>
            </tr>
        </table>
        <hr>
        <h4>Contact Information</h4>
        <table class="table">
            <tr>
                <th>City</th>
                <td>{{ patientprofile.city }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ patientprofile.address }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ patientprofile.user.email }}</td>
            </tr>
            <tr>
                <th>Phone Number</th>
                <td>{{ patientprofile.phone }}</td>
            </tr>
        </table>

     
    {% endif %}
{% endblock %}