{% extends 'mr/base.html' %}
{% load static %}

{% block body_block %}
    {% if complete %}
        <strong>Record created successfully!</strong>
        <a href="{% url 'mr:appointments_detail' app_id %}" class="btn btn-info btn-lg">Go back</a>
    {% else %}
        <strong>Insert ICD 10 codes</strong><br>
        <hr>
        <form id="app_icd10_form" method="post" action="{% url 'mr:add_icd10' %}" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}
            {{ app_icd10_form.as_p }}

            <div class="autocomplete" style="width:50%;">
                <p><input id="myInput" type="text" placeholder="Search icd10 code..." oninput="this.className = ''" name="myInput"></p>
                <script type="text/javascript" src="{% static 'mr/js/icd10autocomplete.js' %}"></script>
            </div><br>
            <input type="checkbox" id="checkbox" name="checkbox"> Do you need to add another icd10 code for this appointment? 
            <hr>
            <input type="submit" name="submit_step2" value="Finish">
        </form>
        {% for code in icd_list %}
            <p>{{ code.icd10_code }}</p>
        {% endfor %}
    {% endif %}

{% endblock %}